<div class="tui-timepicker">
    <div class="tui-timepicker-body">
        <div class="tui-timepicker-row">
            {{#if ([../helpers/equals] inputType 'spinbox')}}
                <div class="tui-timepicker-column tui-timepicker-spinbox tui-timepicker-hour"></div>
                <span class="tui-timepicker-column tui-timepicker-colon"><span class="tui-ico-colon">:</span></span>
                <div class="tui-timepicker-column tui-timepicker-spinbox tui-timepicker-minute"></div>
                {{#if showMeridiem}}
                    {{{meridiemElement}}}
                {{/if}}
            {{else}}
                <div class="tui-timepicker-column tui-timepicker-selectbox tui-timepicker-hour"></div>
                <span class="tui-timepicker-column tui-timepicker-colon"><span class="tui-ico-colon">:</span></span>
                <div class="tui-timepicker-column tui-timepicker-selectbox tui-timepicker-minute"></div>
                {{#if showMeridiem}}
                    {{{meridiemElement}}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>
