<select class="tui-timepicker-select" aria-label="Time">
    {{#each items as |item|}}
        <option value="{{item}}"{{#if ([../helpers/equals] ../initialValue item)}} selected{{/if}}{{[../helpers/disabled] ../disabledItems @index}}>
            {{[../helpers/timeFormat] item ../format}}
        </option>
    {{/each}}
</select>
